<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleIdentifier</key>
    <string>org.neo-layout.neo-layouts</string>
    <key>CFBundleName</key>
    <string>neo-layouts-v3.bundle</string>
    <key>CFBundleVersion</key>
    <string>3.0.0</string>
    <key>KLInfo_Deutsch (Bone v3)</key>
    <dict>
      <key>TICapsLockLanguageSwitchCapable</key>
      <false/>
      <key>TISIconIsTemplate</key>
      <false/>
      <key>TISInputSourceID</key>
      <string>org.neo-layout.neo-layouts.de.bone</string>
      <key>TISIntendedLanguage</key>
      <string>de</string>
    </dict>
    <key>KLInfo_Deutsch (Neo 2 v3)</key>
    <dict>
      <key>TICapsLockLanguageSwitchCapable</key>
      <false/>
      <key>TISIconIsTemplate</key>
      <false/>
      <key>TISInputSourceID</key>
      <string>org.neo-layout.neo-layouts.de.neo2</string>
      <key>TISIntendedLanguage</key>
      <string>de</string>
    </dict>
    <key>KLInfo_Deutsch (Neo-QWERTZ v3)</key>
    <dict>
      <key>TICapsLockLanguageSwitchCapable</key>
      <false/>
      <key>TISIconIsTemplate</key>
      <false/>
      <key>TISInputSourceID</key>
      <string>org.neo-layout.neo-layouts.de.neoqwertz</string>
      <key>TISIntendedLanguage</key>
      <string>de</string>
    </dict>
  </dict>
</plist>